.index
  %h1
    Petit.

  %p
    Petitでブログを始めよう。

  #getting_started
    %p
      %button{"v-on:click": "getLoginForm"}
        LogIn
    %p
      %button{"v-on:click": "getSignupForm"}
        SignUp
