.index
  %h1
    Petit.

  %p
    Petitでブログを始めよう。

  #getting_started
    %p
      %a{ class: "login_button", "v-on:click": "getLoginForm" } LogIn
      %a{ class: "signup_button", "v-on:click": "getSignupForm" } SignUp

      #button_login
        TEXT
      #button_signup
        TEXT
