// サイト全体
body {
  background-image: image-url("bg_main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #555;
  font: 17px/1.2 Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  margin: 0px;
  padding: 0px;
}

#container {
  width: 900px;
  height: 100vh;
  margin: 0 auto;
  word-wrap: break-word;
  //背景色付け＆透過
  //background-color: rgba(255, 255, 255, 0.3);
}

// ヘッダ
#header {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 0;
  }
  li {
    float: left;
    margin: 10px;
  }
}

#petit {
  //font-weight: bold;
  color: #ffffff;
}

// メインコンテンツ
#main {
  width: 100%;
  height: 100vh;
}

.index {
  h1 {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    width: 500px;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-weight: bold;
    width: 500px;
    margin: 0 auto;
  }
}

// フッタ
#footer {
  width: 100%;
  height: 400px;
  background-color: #333333;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}
